{% extends "BlogBundle::layout.html.twig" %}

{% block title %}BlogBundle:News:item{% endblock %}

{% block body %}
    <h1>{{ news.title }}</h1>
    <p>{{ news.content| raw }}</p>
    <p>Категория новости: {{ news.categories.name }}</p>

    {% for comment in  news.comments %}
        {#{{ dump(comment) }}#}
        {{ comment.message }}
    {% else %}
        <p>Сообщений нет</p>
    {% endfor %}
{% endblock %}
